# Copiar como .env.private exclusivamente en el servidor privado.
# No versionar valores reales.
PREDIA_PRIVATE_IP=172.31.45.164
PREDIA_PUBLIC_PRIVATE_IP=172.31.37.174
MYSQL_DATABASE=predia_db
MYSQL_USER=predia_app
MYSQL_PASSWORD=REPLACE_WITH_RANDOM_VALUE
MYSQL_ROOT_PASSWORD=REPLACE_WITH_RANDOM_VALUE
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=REPLACE_WITH_RANDOM_VALUE
